<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Inicio</h1>
        <a th:href="@{/agregar}">Crear persona</a>
        <div th:if="${clientes != null and !clientes.empty}">
            <table border="1">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr th:each="cliente: ${clientes}">
                    <td th:text="${cliente.idCliente}">Id</td>
                    <td th:text="${cliente.nombre}">Nombre</td>
                    <td><a th:href="@{/editar(idCliente=${cliente.idCliente})}" th:text="Editar"></a></td>
                    <td><a th:href="@{/eliminar(idCliente=${cliente.idCliente})}" th:text="Eliminar"></a></td>
                </tr>
            </table>
        </div>
        <div th:if="${clientes == null or clientes.empty}">
            La lista de clientes esta vacia
            
        </div>
    </body>
</html>
